h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #fff;
  width: 100%;
  min-height: 100vh;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img{
  display: block;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin:0 auto ;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-ul {
  display: flex;
  margin-right: 40px;
}

.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.17;
  color: #4d5ae5;
  text-decoration: none;
  letter-spacing: 0.03em;
  margin-right: 76px;
}

.accent-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.17;
  color: #2e2f42;
}

.nav-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-list {
  margin-right: 40px;
}

.nav-list:last-child {
  margin-right: 0;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: #404bbf;
}

.address ul {
  display: flex;
  gap: 40px;
}

.email-tel {
  text-decoration: none;
  color: #434455;
  display: block;
  padding: 24px 0;
}
.email-tel:hover,
.email-tel:focus {
  color: #404bbf;
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 48px;
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  padding-left: 0;
  padding-right: 0;
}

.title {
  font-size: 56px;
  max-width: 496px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  color: #ffffff;
}

.button {
  display: block;
  margin: auto;
  min-width: 169px;
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  margin-top: 48px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.sub-title { 
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}


.advantages .box-ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  gap: 24px;
}

.paragraph-li {
  flex-basis: calc((100% - 72px) / 4);
}

.paragraph-li:last-child {
  margin-right: 0;
}

.item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: left;
}

.paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  background: #f4f4fd;
}

.our-team-list .paragraph {
  text-align: center;
}

.team .box-ul {
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #fff;
}

.box-ul img{
  display: block;
}

.team-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
}

.team-block .item-title {
  text-align: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  flex-shrink: 1;
} 
.portfolio-ul-li {
 width: calc((100% - 48px) / 3);
}
.portfolio-ul-li img {
  display: block;
}

.portfolio-block {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer .logo {
  display: inline-block;
  color: #4d5ae5;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.footer .accent-logo {
  color: #f4f4fd;
}

.footer-p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}